ion-content {
  --background: #DFDFDF;
  --color: #676767;
  flex-direction: column;
  display: flex;
}
ion-grid{
  height: 100%;
}
ion-row{
  position: absolute;
  top: 25%;
  width: 100%;
}
ion-title{
  margin: 1rem 0rem 1rem 0rem;
  font-size: 50px; 
}
ion-button{
  width: 390px;
  height: 66px;
  --border-radius: 20px;
  font-size: 25px;
}
ion-img{
  width: 6rem;
}
ion-col{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}