<ion-content [fullscreen]="true">

  <ion-grid id="P_Admin">
    <ion-row>
      <ion-col id="title">
        <ion-label>ADMINISTRATION</ion-label>
        <ion-label>PANEL</ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="btn-cam">
      <ion-col>
        <ion-img src="assets/Btn_Iglesia.png" class="button-panel" (click)="activarCamaraIglesia()"></ion-img>
      </ion-col>

      <ion-col>
        <ion-label class="grid-label">SECTOR A</ion-label>
        <ion-label class="grid-label">TEMPLE</ion-label>
      </ion-col>

      <ion-col>
        <ion-icon [name]="camaraActivaIglesia ? 'videocam' : 'videocam-off'" class="icon-cam"></ion-icon>
        <ion-icon [name]="camaraActivaIglesia ? 'checkmark-circle' : 'close-circle'" class="icon-cam" [style.color]="camaraActivaIglesia ? 'green' : 'red'"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="btn-cam">
      <ion-col>
        <ion-img src="assets/Btn_Cancha.png" class="button-panel" (click)="activarCamaraCancha()"></ion-img>
      </ion-col>

      <ion-col>
        <ion-label class="grid-label">SECTOR B</ion-label>
        <ion-label class="grid-label">SPORTS AREA</ion-label>
      </ion-col>

      <ion-col>
        <ion-icon [name]="camaraActivaCancha ? 'videocam' : 'videocam-off'" class="icon-cam"></ion-icon>
        <ion-icon [name]="camaraActivaCancha ? 'checkmark-circle' : 'close-circle'" class="icon-cam" [style.color]="camaraActivaCancha ? 'green' : 'red'"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button routerLink="/conf" color="light">
        <ion-icon name="cog"></ion-icon>
      </ion-fab-button>
      <!-- 
      <ion-fab-button routerLink="/sector-b" color="light">
        <ion-icon name="football"></ion-icon>
      </ion-fab-button>
      -->
      <ion-fab-button routerLink="/sector-a" color="light">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/cams" color="light">
        <ion-icon name="videocam"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <webcam [height]="450" [width]="450" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" style="border-radius: 50px;"></webcam>
  </ion-card>
  
  <ion-button color="light" id="botones" (click)="desactivarCamara()" [hidden]="!mostrarCamara">Exit</ion-button>
  
  <div class="reloj">
    <ion-label class="fecha">DATE: {{fecha}}</ion-label>
    <ion-label class="tiempo"> TIME: {{tiempo}}</ion-label>
  </div>
  
</ion-content>